body {
    background-color: #292B2E;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #171717;
    width: 100%;
    max-width: 800px;
    padding: 130px;
    box-sizing: border-box;
}

input, button {
    display: block;
    width: 60%;
    margin: 5px auto;
    padding: 18px;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
}

input:focus {
    outline: none;
    border-color: #fff; 
}

button {
    font-size: 18px;
    background-color: #000;
    cursor: pointer;
    margin: 20px auto 15px;
    padding: 22px;
    border-radius: 32px;
    border: 1px solid transparent;
}

.logo {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

h1 {
    font-size: 30px;
    margin: 0;
}

.CONNECT {
    padding: 20px;
}

.error-message {
    display: none; 
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
}

.footer {
    font-size: 13px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3035;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.horizontal-list a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}

.horizontal-list a:hover {
    background-color: #444;
    border-radius: 5px;
}

.horizontal-list li {
    margin-right: 20px;
}

.horizontal-list li:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .container {
        padding: 12%;
    }

    h1 {
        font-size: 24px;
    }

    input, button {
        font-size: 17px;
        padding: 15px;
    }

    button {
        padding: 20px;
    }

    .logo {
        width: 25px;
    }

    .footer {
        font-size: 12px;
    }

    .horizontal-list li {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 50px;
    }

    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 16px;
        padding: 12px;
    }

    button {
        padding: 18px;
    }

    .footer {
        font-size: 10px;
        display: flex;
        justify-content: space-around;
    }

    .horizontal-list {
        flex-direction: row;
        align-items: center;
    }

    .horizontal-list li {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .horizontal-list li:last-child {
        margin-right: 0;
    }
}

